.container, .containerFaqs{
	max-width: 900px;
	margin: auto;
}
.row{
	/*margin-top: 25px;*/
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}
.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.333333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.333333333333336%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333334%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
/*-------------------------------------------*/
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	padding: 10px;
}
/*-------------------------------------------*/

/*-------------------------------------------*/

.col-5{
	margin: auto;
	text-align: center;
}
.col-7 p{
	font-size: var(--secondFontSize);
	font-family: var(--secondFont);
	margin: 0;
	padding: 20px;
}
.col-12 h3, .col-12 p{
	font-family: var(--mainFont);
}
.imgProduct{
	border-radius: 100%;
	max-width: 215px;
}
#titleProducts{
	text-align: center;
	margin-bottom: 0;
	font-family: var(--mainFont);
	font-size: var(--mainFontSize);
	margin-bottom: 10px;
}
/*.row h3{
	margin-bottom: 10px;
	font-family: var(--secondFont);
	font-size: var(--secondFontSize);
}*/
.row p{
	/*margin-bottom: 10px;*/
	font-family: var(--secondFont);
	font-size: var(--thirdFontSize);
}
.row h4, .row a{
	padding: 0px 20px;
	font-size: var(--secondFontSize);
	text-transform: uppercase;
}
.row p{
	margin-top: 10px;
}
.col-4{
	text-align: center;
}
.col-8{
	text-align: center;
	margin: auto;
}
/**/
@media (max-width: 900px) {
	.row{
		display: inherit;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	width: 100%;
	}
	.col-5{
		order: 1;
	}
	.col-7{
		text-align: center;
		order: 2;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
	}
	.col-12{
		margin: auto;
		max-width: 400px;
	}
}